{% load staticfiles %}
<div class="sectionheader">
        <h6>Zugang zum Österreichischen Biographischen Lexikon</h6>
      </div>
        <div class="card-wrapper">
          <!-- #post-## -->
          <article class="card col-md-12 flat-style basecard">
            <div class="card-inner card-vertical  d-flex flex-column justify-content-between" style="min-height:420px;">
                <div class="entry-content">
                <h5 style="text-align:center">Open Access (Kostenlos)</h5>
                </div>
                <footer class="entry-footer">
                    <a class="btn btn-round  mb-1" href="persons.html">Entdecken</a>
                </footer>
            </div>
            <!-- .card-inner -->
          </article>
          <!-- #post-## -->
          <article class="card col-md-12 flat-style basecard">
              <div class="card-inner card-vertical  d-flex flex-column justify-content-between" style="min-height:420px;">
                <!-- .entry-header -->
                <div class="entry-content">
                        <h5 style="text-align:center">Premium-Version (Kostenpflichtig)</h5>
                        </div>
                <footer class="entry-footer">
                    <a class="btn btn-round  mb-1" href="persons.html">Entdecken</a>
                </footer>
              </div>
          </article>
          </div>