{% extends "theme/base.html" %}
{% load staticfiles %}

{% block content %}


<div class="wrapper" id="wrapper-hero">



  <!-- ******************* The Hero Area ******************* -->
  <div class="wrapper" id="wrapper-hero-content"
    style="background-image:url({%static 'theme/img/project-title-img.jpg' %})">
    <div class="container hero-light" id="wrapper-hero-inner" tabindex="-1">


      <div>

        <h1>Österreichisches Biographisches Lexikon</h1>
        <p>Das „Österreichische Biographische Lexikon 1815–1950“ erfasst bedeutende Persönlichkeiten, die im jeweiligen
          österreichischen Staatsverband bzw. in der österreichisch-ungarischen Monarchie geboren wurden, gelebt oder
          gewirkt haben und zwischen 1815 und 1950 verstorben sind.</p>
      </div>

    </div><!-- #wrapper-hero-content -->
  </div>




  <!-- <div class="container startPageSearch">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="NOT WORKING YET" aria-label="NOT WORKING YET" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i data-feather="search" style="width: 20px; height: 20px;"></i>
                </button>
            </div>
        </div>
      </div>-->
  <div class="wrapper" id="index-wrapper">
    <div class="container" id="content" tabindex="-1">
      <div class="row">
        <!-- Do the left sidebar check and opens the primary div -->
        <div class="col-md-12 content-area" id="primary">
          <main class="site-main" id="main">
            <div class="card-wrapper">
              <!-- #post-## -->
              <article class="card col-md-6 flat-style">
                <div class="card-inner card-vertical" style="min-height:420px;">
                  <div class="entry-text-content">
                    <header class="entry-header">
                      <h4 class="entry-title">
                        <img src="{%static 'theme/img/oebl_person_red.svg' %}" />
                      </h4>
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>Einstieg in das Tagebuch über das Personenregister mit über 8.500 nachgewiesenen Personen und
                        ihrem
                        Vorkommen.</p>
                      <a class="btn btn-round mb-1" href="persons.html">Mehr lesen</a>
                    </div>
                    <!-- .entry-content -->
                  </div>
                  <!-- .entry-text-content -->
                </div>
                <!-- .card-inner -->
              </article>
              <!-- #post-## -->
              <article class="card col-md-6 flat-style oeblredcard">
                <div class="card-inner card-vertical" style="min-height:420px;">
                  <div class="entry-text-content">
                    <header class="entry-header">
                      <h4 class="entry-title">
                        <img src="{%static 'theme/img/oebl_person_white.svg' %}" />
                      </h4>
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                      <p>Zugang zum Tagebuch mittels 2.200 Orten, die auch über ihre Koordinaten erschlossen sind.</p>
                      <a class="btn btn-round mb-1" href="places.html">Mehr lesen</a>
                    </div>
                    <!-- .entry-content -->
                  </div>
                  <!-- .entry-text-content -->
                </div>
                <!-- .card-inner -->
              </article>
              <!-- #post-## -->
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}