{% extends "theme/base.html" %}
{% load staticfiles %}

{% block content %}


<div class="wrapper" id="wrapper-hero">



  <!-- ******************* The Hero Area ******************* -->
  <div class="wrapper" id="wrapper-hero-content"
    style="background-image:url({%static 'theme/img/project-title-img.jpg' %})">
    <div class="container hero-light" id="wrapper-hero-inner" tabindex="-1">


      <div>

        <h1>Österreichisches Biographisches Lexikon</h1>
        <p>Das „Österreichische Biographische Lexikon 1815–1950“ erfasst bedeutende Persönlichkeiten, die im jeweiligen
          österreichischen Staatsverband bzw. in der österreichisch-ungarischen Monarchie geboren wurden, gelebt oder
          gewirkt haben und zwischen 1815 und 1950 verstorben sind.</p>
      </div>

    </div><!-- #wrapper-hero-content -->
  </div>




  <div class="container startPageSearch">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="NOT WORKING YET" aria-label="NOT WORKING YET" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i data-feather="search" style="width: 20px; height: 20px;"></i>
                </button>
            </div>
        </div>
      </div>
  <div class="wrapper" id="index-wrapper">
    <div class="container" id="content" tabindex="-1">
      <div class="row">
        <!-- Do the left sidebar check and opens the primary div -->
        <div class="col-md-12 content-area" id="primary">
            {% include "theme/random_entries.html" %}
            {% include "theme/thisday.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" id="index-wrapper-white">
      <div class="container" id="content" tabindex="-1">
        <div class="row">
          <!-- Do the left sidebar check and opens the primary div -->
          <div class="col-md-12 content-area" id="primary">
                {% include "theme/access.html" %}
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper" id="stats-wrapper">
        <div class="container" id="content" tabindex="-1">
          <div class="row">
            <!-- Do the left sidebar check and opens the primary div -->
            <div class="col-md-12 content-area" id="primary">
                  {% include "theme/stats.html" %}
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
