<div class="card-wrapper">
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">

                    <div class="col-12">
                        <a href="https://www.oeaw.ac.at/acdh/" target="_blank" rel="noopener" aria-label="ACDH">
                            <img src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg" alt="ACDH" title="Austrian Centre for Digital Humanities (ACDH) of the Austrian Academy of Sciences"/>
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>Austrian Centre for Digital Humanities and Cultural Heritage (ACDH-CH) of the Austrian Academy of Sciences</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">
                    <div class="col-12">
                        <a href="https://verlag.oeaw.ac.at/" target="_blank" rel="noopener noreferrer">
                            <img class="partnerlogo"
                                src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/partnerlogos/Logo_OEAW_Verlag.png" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>Österreichisches Biographisches Lexikon online - Technische Realisierung: Verlag der
                                Österreichischen Akademie der Wissenschaften</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">
                    <div class="col-12">
                        <a href="http://www.biographie-portal.eu/" target="_blank" rel="noopener noreferrer">
                            <img class="partnerlogo"
                                src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/partnerlogos/biographie-portal.jpg" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>weit über 100.000 wissenschaftlich fundierte Biographien aus allen gesellschaftlichen
                                Bereichen und fast allen Epochen der deutschen, österreichischen und der schweizerischen
                                Geschichte</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">
                    <div class="col-12">
                        <a href="http://www.albertina.at/" target="_blank" rel="noopener noreferrer">
                            <img class="partnerlogo" style="height:40px"
                                src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/partnerlogos/albertina_logo_neu.png" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>Albertina</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.bildarchivaustria.at/" target="_blank" rel="noopener noreferrer">
                            <img class="partnerlogo"
                                src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/partnerlogos/logo_OeNB_rgb.png" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>bildarchiv austria</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
    <article class="card col-md-4 flat-style">
        <div class="card-inner partnercard card-vertical  d-flex flex-column justify-content-between">
            <div class="entry-content">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.mediathek.at/" target="_blank" rel="noopener noreferrer">
                            <img class="partnerlogo"
                                src="https://shared.acdh.oeaw.ac.at/acdh-common-assets/images/partnerlogos/oem_logo.jpg" />
                        </a>
                    </div>
                    <div class="col-12">
                        <div>
                            <p>Das österreichische Archiv für Tonaufnahmen und Videos aus Kultur- und Zeitgeschichte</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </div>
    </article>
</div>