{% extends "theme/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load custom_tags %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<div id="contentDetails" class="container pt-5">
    <div class="row">
        <div class="col-md-6">
        <article class="card flat-style">
            <div class="entry-header pt-3">
                <div class="row justify-content-between">
                    <div class="col">
                        {% if prev.id %}
                        <a class="card-link preventity" href="{% url 'theme:person-detail' pk=prev.id %}"
                            title="{{ prev }}">
                            <i data-feather="chevron-left" title="previous"></i>
                        </a>
                        {% endif %}
                    </div>

                    <div class="col">
                        {% if next.id %}
                        <a class="card-link nextentity" href="{% url 'theme:person-detail' pk=next.id %}"
                            style="float:right" title="{{ next }}">
                            <i data-feather="chevron-right" title="next"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-2">


                        <h2 class="pl-4">{{ object.name}}{%if object.first_name %},
                            {{ object.first_name}}{% endif %}</h2>
                        <p class="pl-4"> {{ profession }}, <abbr
                                title='geboren'>geb.</abbr> {{object.start_date_written }}, <abbr
                                title='gestorben'>gest.</abbr> {{object.end_date_written }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <p class="bio">{{ main_text }}</p>
            </div>
        </article>
    </div>
    <div class="col-md-6">
            <article class="card flat-style">
                <div class="card-inner relentitiescard card-vertical  d-flex flex-column justify-content-between">
                    <div class="entry-header professioncats p-3">
                        {% if profession_categories is not None %}
                        {% for profession in profession_categories %}
                       <span class="professioncat badge badge-pill badge-primary">{{ profession.name }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="entry-content pl-3">
                        <h4>Links</h4>
                        <ul class="uris pl-0">{% for uri in object.uri_set.all %}
                            <li class="pl-0"><a target="_blank" rel="noopener noreferrer" href="{{uri}}">{{uri}}</a></li>
                            {% endfor %}
                        </ul>
                        <h4>Personen</h4>
                        <ul class="relentities">
                            {% for x in related_persons %}
                            <li class="pl-0">
                                
                                {{ x.relation_type }} <strong>{{ x.related_place }}</strong>
                                {% formated_daterange x.start_date_written x.end_date_written %} 
                            </li>
                            {% endfor %}
                        </ul>
                        <h4>Orte</h4>
                        <ul class="relentities">
                            {% for x in related_places %}
                            <li class="pl-0">
                                {{ x.relation_type }} <strong>{{ x.related_place }}</strong>
                                 {% formated_daterange x.start_date_written x.end_date_written %} 
                            </li>
                            {% endfor %}
                        </ul>
                        <h4>Institutionen</h4>
                        <ul class="relentities">
                            {% for x in related_institutions %}
                            <li class="pl-0">
                                {{ x.relation_type }} <strong>{{x.related_institution }}</strong>
                                {% formated_daterange x.start_date_written x.end_date_written %} 
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


{% endblock content %}