{% extends "theme/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<div id="contentDetails" class="container">
    <div class="page-header">
        <!-- Überschrift -->
        <h1 id="headingIndex" class="possibleHeading hidden">{{ object.name}}{%if object.first_name %}, {{ object.first_name}}{% endif %}</h1>
        <div id="headingNdb" class="possibleHeading">

            <h1 class='persName'>
                {% if prev.id %}
                    <a href="{% url 'theme:person-detail' pk=prev.id %}" title="{{ prev }}">
                        <i data-feather="chevron-left" title="previous"></i>
                    </a>
                {% endif %}
                {{ object.name}}{%if object.first_name %}, <span class="italics">{{ object.first_name}}</span>{% endif %}
                {% if next.id %}
                <a href="{% url 'theme:person-detail' pk=next.id %}" style="float:right" title="{{ next }}">
                    <i data-feather="chevron-right" title="next"></i>
                </a>
                {% endif %}
            </h1>

            <p>
                {% for x in object.profession.all %} {{x.name }} {% endfor %}, <abbr title='geboren'>*</abbr> {{object.start_date_written }}, <abbr title='gestorben'>†</abbr>{{object.end_date_written }}</p>
        </div>
        <h1 id="headingAdb" class="possibleHeading hidden">Ladeuberg, Adalbert von</h1>


        <ul class="nav nav-pills" id="detail-tab">

            <!-- index -->
            <li>
                <a href="#indexcontent" data-toggle="pill">Übersicht</a>
            </li>

            <!-- ndb -->
            <li class="active">
                <a href="#ndbcontent" data-toggle="pill" title="Neue Deutsche Biographie, Band 13 Jahrgang 1982">
                    <span class="abbr">NDB</span>&nbsp;
                    <span>13 (1982)</span></a>
            </li>

            <!-- adb -->
            <li>
                <a href="#adbcontent" data-toggle="pill" title="Allgemeine Deutsche Biographie, Band 17 Jahrgang 1883">
                    <span class="abbr">ADB</span>&nbsp;
                    <span>17 (1883)</span></a>
            </li>
            <!-- adb2 -->



        </ul>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Leben</h4>
                </div>
                <div class="card-body">
                    {{ main_text }}
                </div>
                <div class="card-body">
                    <legend>
                        Orte
                    </legend>
                    {% for x in object.personplace_set.all %}
                    <li>
                        {{ x.relation_type }} <strong>{{x.related_place }}</strong> {{ x.start_date_written }} - {{x.end_date_written}}
                    </li>
                    {% endfor %}
                    <legend>
                        Institutionen
                    </legend>
                    {% for x in object.personinstitution_set.all %}
                    <li>
                        {{ x.relation_type }} <strong>{{x.related_institution }}</strong> {{ x.start_date_written }} - {{x.end_date_written}}
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}
