{% extends 'theme/base.html' %}
{% load apis_templatetags %}
{% load custom_tags %}
{% block header %}
{% endblock %}
{% block content %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12 offset-md-3">
            {% if form.data.selected_facets|length > 0 %}
            <ul class="facet-group pl-0 mb-0">
                {% for fac in form.selected_facets %}
                <li class="facet-group-item pl-0">
                    <a href="{% normalize_facet fac 'filter' request.get_full_path %}" type="button"
                        class="badge badge-custom badge-pill p-1 oebl-inverted">
                        {% normalize_facet fac 'name' %}<i class="remove-badge ml-1" data-feather="x"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!-- <a href="{% remove_facets request.get_full_path %}" type="button"
                  class="btn btn-link btn-sm btn-right">Filter zurücksetzen<span
                      class="icon-remove"></span></a>-->
            {% else %}
            <br />
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mt-3 border-0 rounded-0 background_none">
                <div class="card-body p-0">
                    <form action="" method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="q" class="form-control form-suche-input rounded-0" id="suche" placeholder="Suche"
                                {% if query %}value="{{form.cleaned_data.q}}" {% endif %}>
                            <input type="hidden" name="sort" value="name" {% if query %}value="{{form.cleaned_data.sort}}"
                                {% endif %}>
                            <div class="input-group-append">
                                <button class="btn btn-primary rounded-0" type="submit">
                                    <i data-feather="search" style="width: 20px; height: 20px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% if query %}
                    <!-- Begin faceting. -->
                    <div class="facet">
                        <form>
                            {% for param_name, value in request.GET.items %}
                                {% filter_params request param_name as param_list %}
                                {% for param_value in param_list  %}
                                    {%if param_name == 'q' or param_name == 'selected_facets'%}
                                        <input type="hidden" name="{{param_name}}" class="form-suche-input" id="suche" placeholder="Suche" {% if query %}value="{{param_value}}" {% endif %}>
                                    {%endif%}
                                {%endfor%}
                            {%endfor%}
                            <div class="card rounded-0">
                                <div class="card-header p-0" id="heading_lebensdaten">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link collapsebtn w-100 text-left" data-toggle="collapse"
                                            data-target="#lebensdaten" aria-expanded="true" aria-controls="lebensdaten">
                                            Lebensdaten <i data-feather="chevron-up"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="lebensdaten" class="collapse show" aria-labelledby="heading_lebensdaten">
                                    <div class="card-body p-2">
                                        <div class="form-group mb-0">
                                            <label for="start_date_form">von</label>
                                            <input type="range"
                                                onchange="start_date_form_out.value=start_date_form.value;this.form.submit()"
                                                name="start_date_form" id="start_date_form"
                                                value={% if query %}"{{form.cleaned_data.start_date_form|default:1740}}"{% else %}1740{% endif %}
                                                min="1700" max="1990">
                                            <output for="start_date_form"
                                                id="start_date_form_out">{% if query %}{{form.cleaned_data.start_date_form|default:1740}}{% else %}1740{% endif %}</output>
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="end_date_form">bis</label>
                                            <input type="range"
                                                onchange="end_date_form_out.value=end_date_form.value;this.form.submit()"
                                                class="multi-range" name="end_date_form" id="end_date_form"
                                                value={% if query %}"{{form.cleaned_data.end_date_form|default:1955}}"{% else %}1955{% endif %}
                                                min="1700" max="1990">
                                            <output for="end_date_form"
                                                id="end_date_form_out">{% if query %}{{form.cleaned_data.end_date_form|default:1955}}{% else %}1955{% endif %}</output>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for field in facets.fields %}
                            {% filter_facetfields facets.fields field as filtered_vals %}
                            {% if filtered_vals|length > 0 %}
                            <div class="card mt-1 rounded-0">
                                <div class="card-header p-0" id="heading{{field}}">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link collapsebtn w-100 text-left" data-toggle="collapse"
                                            data-target="#{{field}}" aria-expanded="true" aria-controls="{{field}}">
                                            {%normalize_facet field 'simple'%}  <i data-feather="chevron-up"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="{{field}}" class="collapse show" aria-labelledby="heading{{field}}">
                                    <div class="card-body p-2 show-limited-number">
                                        <ul class="pl-0 mb-0">
                                            {% for fv in filtered_vals %}
                                            {% if fv.1 > 0 %}
                                            <li class="facet-group-item pl-0">
                                                {% check_facet_selection field fv.0 form.selected_facets as facet_selected %}
                                                {% if facet_selected %}
                                                <span class="disabled">{{ fv.0 }} ({{ fv.1 }})</span>
                                                {%else%}
                                                <a href="{{ request.get_full_path }}&amp;selected_facets={{field}}_exact:{{ fv.0|urlencode }}"
                                                class="facet-group-link">{{ fv.0 }} ({{ fv.1 }})</a>
                                                {%endif%}
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class="pl-0 btn btn-link btn-sm load-more-less" class="oebl-font-red more-facetitems-link">mehr...</a>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </form>
                    </div>
                </div>
            </div>
            <script>
                 $(document).ready(function() {
                    $(".load-more-less").on("click",this,function() {
                        $(this).parent().toggleClass("show-limited-number");
                        if ($(this).parent().hasClass("show-limited-number")) {
                            $(this).text("mehr...");
                        } else {
                            $(this).text("weniger...");
                        }
                        
                    });
                    $(".collapse").on('show.bs.collapse', function (){
                        var id = $(this).attr("id");
                        $(this).parent().find("svg.feather.feather-chevron-down").replaceWith(feather.icons['chevron-up'].toSvg());
                    })
                    $(".collapse").on('hide.bs.collapse', function (){
                        var id = $(this).attr("id");
                        $(this).parent().find("svg.feather.feather-chevron-up").replaceWith(feather.icons['chevron-down'].toSvg());
                    })
                 });
            </script>
        </div>

        <div class="col-md-9" id="results">
            <div class="card mt-3 rounded-0">
                <div class="card-body p-0">
                    {% render_table table %}
                    <!-- End faceting -->
                    {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}