
{% load staticfiles %}
<div class="sectionheader">
        <h6>Aus dem Lexikon</h6>
      </div>
        <div class="card-wrapper">
          {% for x in random_entries %}
          <article class="card col-md-6 flat-style">
            <div class="card-inner card-vertical  d-flex flex-column" style="min-height:420px;">
                <header class="entry-header mb-3">
                    <!--<h6 class="pb-2">An diesem Tag geboren</h6>-->
                  <div class="row align-items-end">
                      <div class="col-lg-2 col-md-2 col-12 pr-0">
                          <img src="{%static 'theme/img/oebl_person_red.svg' %}" />
                        </div>
                        <div class="col-lg-10 col-md-10 col-12">
                                <h5 class="mb-1">{%if x.first_name %} {{ x.first_name}} {% endif %}{{ x.name}}</h5>
                            <p class="profession m-0 p-0">{% for x in x.profession.all %} {{x.name }} {% endfor %}</p>
                            <p class="startend  mt-1 mb-0 p-0">{{x.start_date_written }} - {{x.end_date_written }}</p>
                  </div>
                </header>
                <div class="card-body">
                    {% for y in x.text.all %}
                        {% if forloop.first %}
                            <p>{{y.text | truncatechars:500}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <footer class="entry-footer">
                    <a class="btn btn-round  mb-1" href="/person/{{x.id}}">Mehr lesen</a>
                </footer>
            </div>
            <!-- .card-inner -->
          </article>
          {% endfor %}
          </div>
