{% load staticfiles %}
<div class="sectionheader">
        <h6>Lexikon Statistiken</h6>
      </div>
        <div class="card-wrapper">
          <!-- #post-## -->
          <article class="card col-md-12 flat-style basecard">
            <div class="card-inner card-vertical  d-flex flex-column justify-content-between" style="min-height:420px;">
                <div class="entry-content">
                <h5 style="text-align:center"></h5>
                </div>
                <footer class="entry-footer">
                </footer>
            </div>
            <!-- .card-inner -->
          </article>
          <!-- #post-## -->
          </div>