
{% load staticfiles %}
<div class="sectionheader">
        <h6>Dieser Tag in der Geschichte</h6>
      </div>
   
        <div class="card-wrapper">
          <!-- #post-## -->
          <article class="card col-md-6 flat-style">
            <div class="card-inner card-vertical  d-flex flex-column" style="min-height:420px;">
                <header class="entry-header mb-3">
                    <h6 class="pb-2">An diesem Tag geboren</h6>
                  <div class="row align-items-end">
                      <div class="col-lg-2 col-md-2 col-12 pr-0">
                          <img src="{%static 'theme/img/oebl_person_red.svg' %}" />
                        </div>
                        <div class="col-lg-10 col-md-10 col-12">
                            <h5 class="mb-1">{%if randombornthisday.first_name %} {{ randombornthisday.first_name}} {% endif %}{{ randombornthisday.name}}</h5>
                            <p class="profession m-0 p-0">{% for x in randombornthisday.profession.all %} {{x.name }} {% endfor %}</p>
                            <p class="startend  mt-1 mb-0 p-0">{{randombornthisday.start_date_written }} - {{randombornthisday.end_date_written }}</p>
                  </div>
                </header>
                <div class="card-body">
                  <p>{{randombornthisday.desc | truncatechars:500}}</p>
                </div>
                <footer class="entry-footer">
                    <a class="btn btn-round  mb-1" href="/person/{{randombornthisday.id}}">Mehr lesen</a>
                </footer>
            </div>
            <!-- .card-inner -->
          </article>
          <!-- #post-## -->
          <article class="card col-md-6 flat-style oeblredcard">
              <div class="card-inner card-vertical  d-flex flex-column" style="min-height:420px;">
                    <h6 class="pb-2">An diesem Tag verstorben</h6>  
                <header class="entry-header mb-3">
                      <div class="row align-items-end">
                          <div class="col-lg-2 col-md-2 col-12 pr-0">
                              <img src="{%static 'theme/img/oebl_person_white.svg' %}" />
                            </div>
                            <div class="col-lg-10 col-md-10 col-12">
                                <h5 class="mb-1">{%if randomdiedthisday.first_name %} {{ randomdiedthisday.first_name}} {% endif %}{{ randomdiedthisday.name}}</h5>
                                <p class="profession m-0 p-0">{% for x in randomdiedthisday.profession.all %} {{x.name }} {% endfor %}</p>
                                <p class="startend  mt-1 mb-0 p-0">{{randomdiedthisday.start_date_written }} - {{randomdiedthisday.end_date_written }}</p>
                      </div>
                    </header>
                <!-- .entry-header -->
                <div class="card-body">
                 <p>{{randomdiedthisday.desc | truncatechars:500}}</p></div>
                <footer class="entry-footer">
                    <a class="btn btn-round  mb-1" href="/person/{{randomdiedthisday.id}}">Mehr lesen</a>
                </footer>
              </div>
          </article>
          </div>